

#terminal-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #000;
  font: monospace;
  background: #ccc;
  height: 200px;
}


#terminal-container .title {
  background: #ccc url('images/bar.png') top repeat-x;
  height: 20px;
  margin: 1px;
}

#terminal-container .body {
  background: #ccc;
  height: 180px;
}

